# Azure App Registration
VITE_CLIENT_ID=c67ef7c0-27aa-43b5-8310-a330a088ff4f
VITE_TENANT_ID=d569b991-89fc-4a62-9df5-eb361abcef40
VITE_REDIRECT_URI=http://localhost:5173

# SharePoint
VITE_SHAREPOINT_URL=https://rpaexpert.sharepoint.com/sites/iTServicesCo.Ltd

# App
VITE_APP_NAME=iT Services Helpdesk
